/* Solito reset iniziale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* contenitore generale */
.container {
    background-color: aquamarine;
}

/* card singola */
.card {
    background-color: brown;
    width: calc(25% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

img {
    height: 7rem;
    float: left;
    margin-right: 1rem;
}

.testoAffiancato {
    height: 7rem;
    padding: 10px 10px 10px 0;
    /* va bene anche padding: 10px ma ricordate che il padding di sinistra verrebbe ignorato
    perchè c'è lì c'è l'immagine. usiamo invece il margin-right per crare spazio accanto all'img
    */
}

.clearfix {
    clear: both;
}